root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
}

body {
  background-color: #ffffff;
}
